.container {
  background-color: rgb(109, 55, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 300px 0px;
  background-image: url("https://images.unsplash.com/photo-1611072337226-1140ab367200?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1088&q=80");
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 475px;
  height: 700px;
  padding: 0px 0px;
  background-color: rgb(42, 42, 42);

  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
}

.topBox{
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
}

.casio{
  color: white;
  font-size: 30px;
  padding-right: 190px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sensor{
  display: flex;
  align-items: center;
  color: rgb(16, 180, 199);
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgb(13, 79, 87);
}

.inputBox {
  height: 120px;
  display: flex;
  align-items: center;
  width: 400px;
  background-color: aquamarine;
  border-radius: 10px;
  font-size: 30px;
  font-family: "Digital-7", sans-serif;
  background: linear-gradient(135deg, rgba(0, 255, 255, 0.2) 0%, rgba(0, 238, 255, 0.881) 50%, rgba(255, 255, 255, 0) 100%);


  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
}

.keypads {
  display: flex;
  align-items: start;
  padding-right: 30px;
  flex-direction: row;
}

.keypad1 {
  padding: 50px 20px;
  align-items: center;
  width: 300px;
}

.keypad2 {
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  align-items: center;
  width: 50px;
}

button {
  width: 80px;
  color: white;
  background-color: rgb(120, 120, 120);
  height: 80px;
  font-size: 30px;
  border-radius: 10px;
  margin: 5px;
  background-image: linear-gradient(rgb(120, 120, 120), rgb(80, 80, 80));
  border: none;
  outline: none;

  /* Add box shadow to create a 3D effect */
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25),
              inset 0px -2px 2px rgba(255, 255, 255, 0.25);

  /* Add transition for smooth hover effect */
  transition: all 0.2s;
}

button:hover {
  /* Adjust the appearance on hover */
  transform: translateY(3px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25),
              inset 0px -1px 1px rgba(255, 255, 255, 0.25);
}

